@charset "UTF-8";

fieldset {
	border: 2px solid #222;
	border-radius: 10px;
	width: 30rem;
    margin: 15rem auto 16.5rem;	
    padding: 20px;
}

input{
   padding: 8px;
   border: 1px solid #ccc; /* 연한 회색 테두리 색상 */
   border-radius: 4px;
   box-sizing: border-box;
   background-color: #f9f9f9; /* 매우 연한 회색 배경색 */
   color: #333; /* 어두운 회색 텍스트 색상 */
}

form hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}
form .in[type="button"],
form .in[type="submit"] {
	width:7rem;
  margin: 10px 5px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#pullN {
	margin-left: 30px;
}
#pullN:hover {
	background-color: #222 !important;
}

#cell {
	margin-left: 15px;
}

#a {
	margin: 5px 0px 10px 35px;
}
#b{
	margin: 5px 0px 10px 20px;
}
#c{
	margin: 10px 0px 10px 50px;
}
#d{
	margin: 10px 0px 10px 35px ;
}


#pre {
	float:left;
}
#find {
	float:right;
}

/* form 스타일 */
form {
	margin-bottom: 0px; /* 폼 간격 조절 */
}

legend {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
}

/* input 스타일 */
input {
	padding: 5px; /* 내부 여백 */
	margin: 5px 0px 10px 10px; /* 마진 설정 */
}

/* button 스타일 */
input[type="submit"], input[type="button"] {
	background-color: #333; /* 배경 색상 */
	color: #fff; /* 글자 색상 */
	padding: 8px 15px; /* 내부 여백 */
	border: none; /* 테두리 없음 */
	border-radius: 3px; /* 둥근 테두리 */
	cursor: pointer; /* 커서 타입 */
}

.in:hover {
	background-color: #222;
}

/* hr 스타일 */
hr {
	border: 1px solid #000; /* 수평선 색상 */
	margin-top: 20px; /* 윗쪽 간격 조절 */
	margin-bottom: 20px; /* 아래쪽 간격 조절 */
}


#e {
	margin: 5px 0px 10px 175px;
}