@charset "UTF-8";

fieldset {
            width: 300px;
            margin: 10rem auto 15rem;
            padding: 30px;
            border: 2px solid #333;
            border-radius: 10px;
        }

        legend {
            font-weight: bold;
            font-size: 1.2em;
        }

        form {
            text-align: center;
        }

        input[type="button"] {
            width: 40%;
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        input[type="button"] {
            background-color: #222;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            margin-top: 30px;
            text-align: center;
       
        }

        input[type="button"]:hover {
            background-color: #000000;
        }