@charset "UTF-8";

    body {
      margin: 0;
      padding: 0;
      
    }

    #scrollToTopBtn {
  display: none; /* 초기에는 숨김 상태로 설정합니다. */
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #999;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  scroll-behavior: smooth;
  
}

#scrollToTopBtn:hover {
  background-color: #999;
  
}

html {
      scroll-behavior: smooth;
    }

    .footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
	  
	
    }

    .footer-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      line-height: 1.9rem;
    }

    .contact-info,
    .customer-center {
      flex: 1;
    }

    .contact-info p,
    .customer-center p {
      margin: 0;
      color: #ccc; /* 추가적인 스타일링 */
    }

    .logo img {
      max-width: 50px;
      border-radius: 0%; /* 로고 이미지를 원 모양으로 깎기 */
      margin-left: 30px;
    }

    .customer-center {
      text-align: right;
    }

    .copyright {
      margin-top: 20px;
      color: #ccc; /* 추가적인 스타일링 */
    }
    