@charset "UTF-8";

.b {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffffff; /* 흰 배경색 */
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}
#log {
	margin-top: 10px;
}

/*아이디·비밀번호 찾기 */
.findId, .findPw {
    background: none;
    border: none;
    color: #656565;
}

.findId {
	margin-right:5px;
}
.findId:hover ,.findPw:hover {
	color:black;
}
.findPw {
	margin-left:5px;
}

.button-container {
	margin-left: auto;
	margin-right: auto;
    display: flex;
}

#dash {
	color:#656565;
}


/*아이디·비밀번호 찾기 */
.findId, .findPw {
    background: none;
    border: none;
    color: #656565;
}

.findId {
	margin-right:5px;
}
.findId:hover ,.findPw:hover {
	color:black;
}
.findPw {
	margin-left:5px;
}

.button-container {
	margin-left: auto;
	margin-right: auto;
    display: flex;
}

#dash {
	color:#656565;
}

.f {
    display: flex;
    flex-direction: column;
}

.l {
    margin-bottom: 10px;
    color: #333;
}

.i {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #656565;
    border-radius: 4px;
}

.bu {
    padding: 10px;
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px; /* 여백을 늘리기 위한 수정 */
}

.bu:hover {
    background-color: #000000;
}


