@charset "UTF-8";

#all {
   width: 100%;
   height: 100%;
   align-content: center;
   margin-left: 200px auto 70px;
}


body {
   font-family: 'Noto Sans KR', sans-serif;
   margin: 0;
   padding: 0;
   background-color: #ffffff;
}

/* 밑으로 추천 상품 슬라이더 */

.title {
   text-align-last: center;
   width: 100%;
   text-align: left;
   font-size: 2.5rem;
   font-weight: bold;
   margin-top: 5rem;
}

.container {
   max-width: 1200px;
   margin: 50px auto;
   padding: 0 20px;
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   grid-gap: 30px;
   justify-items: center; /* 아이템을 가운데 정렬 */
}



.product {
   width: 100%;
   background-color: #fff;
   border-radius: 10px;
   overflow: hidden;
   box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
   transition: box-shadow 0.3s ease-in-out;
}
/* 4개씩만 보이도록 설정 */
@media screen and (min-width: 768px) {
   .container {
      grid-template-columns: repeat(4, 1fr);
   }
}

/* 작은 화면일 때 한 줄에 2개씩 보이도록 설정 */
@media screen and (max-width: 768px) {
   .container {
      grid-template-columns: repeat(2, 1fr);
   }
}

/* 아주 작은 화면일 때, 한 줄에 1개씩 보이도록 설정 */
@media screen and (max-width: 480px) {
   .container {
      grid-template-columns: repeat(1, 1fr);
   }
}



.container .product:nth-child(n+5) {
   grid-column: span 1;
    margin-top: 30px;
}

.product:hover { /* 틀 그림자 무지개 호버 */
   animation: colorfulShadow 2s infinite;
   cursor: pointer;
}

.product img {
   width: 100%;
   height: 16rem;
   object-fit: cover;
   object-position: center top;
   transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
   /* 이미지 확대 더 부드럽게 */
}

.product-info { /* 상품 글자 크기, 가운데 정렬 */
   padding: 15px;
   text-align: center;
   font-weight: bold;
}

.product-price { /* 가격 글자 크기, 가운데 정렬 */
   padding: 12px;
   text-align: center;
}

.disabled {
   opacity: 0.5;
    background-color: #CCCCCC;
}

/* 이미지에 마우스 호버 시 확대 효과 */
.product:hover img {
   transform: scale(1.1);
}

@keyframes colorfulShadow {
    0% { box-shadow: 0 0 8px rgba(255, 0, 0, 0.1); }
    25% { box-shadow: 0 0 8px rgba(255, 0, 0, 0.1); }
    50% { box-shadow: 0 0 8px rgba(0, 255, 0, 0.1); }
    75% { box-shadow: 0 0 8px rgba(0, 0, 255, 0.1); }
    100% { box-shadow: 0 0 8px rgba(255, 0, 255, 0.1); }
}

