@charset "UTF-8";
/* 스타일 설정 */
/* 모달 전체 스타일 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* 밝은 배경색 */
    z-index: 1;
}
/* .modal {
	display: none;
	width: 300px;
	margin: 50px auto;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	padding: 20px;
	border-radius: 5px;
}  */

.modal-content {
    background-color: #fff; /* 화이트 색상 */ 
    width: 600px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    font-size: 17px;
    color: #000; /* 텍스트 색상을 블랙으로 지정 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    transition: box-shadow 0.3s; /* hover 시 그림자 변경 효과 설정 */
    margin-top: 10rem; 
    max-height: 70vh; /* 모달 창 최대 높이를 화면 높이의 70%로 제한 */
    overflow-y: auto; /* 모달 내용이 높이를 넘어갈 때 세로 스크롤 허용 */
}

.modal-content:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4); /* hover 시 그림자 효과 강화 */
}

 /* 프로필 모달 스타일 */
    #profileModal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* 모달 내용이 높이를 넘어갈 때 스크롤 허용 */
        background-color: rgba(0, 0, 0, 0.6);
        
    }


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000; /* 닫기 버튼 텍스트 색상을 블랙으로 지정 */
    font-size: 15px; /* 아이콘 크기 */
    border: none;
    background-color: white;
    text-decoration: underline;
    padding-bottom: 7%;
}

.close-button:hover {
    color: #FF0000; /* 마우스 오버 시 색상 변경 (예: 빨간색) */
}

.product-info {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.product-info img {
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.product-info label {
    font-weight: bold;
}

.product-buttons button {
    background-color: #000; /* 블랙 배경색 */
    color: #fff; /* 텍스트 색상을 화이트로 지정 */
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* 판매하기 모달창 */
.sell-button {
	background-color: #000; /* 블랙 배경색 */
    color: #fff; /* 텍스트 색상을 화이트로 지정 */
    padding: 15px 20px;
     font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px; /* 버튼과 모달 정보 사이의 간격을 조정 */
    width: 100%; /* 버튼 너비를 100%로 설정하여 가로 전체를 채우게 함 */
}
#pfHr {
	margin-top: 10%;
}
p#noSell {text-align: center;}
#sellCheckbox {float: left;}
hr#hr1 {margin-top:10%;}

#sellDiv, #sellDiv2 {
	line-height: 1.9rem;
	}
#pfDiv {margin:4%;
padding-top:35px;}

img#sellImage, #pfImage {
	float: left;
	margin-right: 10%;
	margin-left: 2%;
	height: 130px;
}

/* img#pfImage {
	max-width: 160px;
	height: auto;
	display: flex;
	align-items: center;
} */


#sellCheckbox {transform: scale(1.5);}

 #productInfo {
   max-height: 500px;
   overflow-y: auto;
   overflow-x: hidden; /* 가로 스크롤바를 숨김 */
      
  }

/* 신고하기 모달창 */
#postReportOptions, #authorReportOptions {
	 margin-left: 40px; 
}

.reasonCheckbox {
	margin-left: 20px;
	padding: 0 0 0 20px;
}

.complain-button {
	border:none;
	background-color: white;
	float: right;
	font-size: 1.5rem;
}

textarea#otherReasonText, #otherReasonText2 {
	width: 80%;
	margin-left: 40px;
	margin-top: 5px;
	font-family: 'Noto Sans KR';
}

/* 신고하기 모달창 행간 조절*/
div#postReportOptions, #authorpostReportOptions {
	line-height: 1.45rm;
}


#authorReportCheckbox, #postReportCheckbox {
	transform: scale(1.5);
	margin-right: 16px;
}

#productList {
	margin: 15px;
	cursor: pointer;
	clear: both; /* float 요소들의 영향을 받지 않도록 설정 */
}


/* "신고하기" 버튼 스타일 */
.confirm-button {
    display: block;
	width: 100%;
	padding: 10px;
	margin-top: 5%;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #222; /* 어두운 검정 계열 배경색 */
	color: #fff; /* 흰색 텍스트 색상 */
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 버튼에 그림자 추가 */
}

.confirm-button:hover {
    background-color: #444; /* 마우스 오버 시 배경색 변경 (예: 조금 더 어두운 회색) */
}

