@charset "UTF-8";
/* 스타일 설정 */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* 밝은 배경색 */
    z-index: 1;
}

.modal-content {
    background-color: #fff; /* 화이트 색상 */
    width: 500px;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    font-size:17px;
    color: #000; /* 텍스트 색상을 블랙으로 지정 */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* 그림자 효과 추가 */
    transition: box-shadow 0.3s; /* hover 시 그림자 변경 효과 설정 */
    margin-top: 15%;
}

.modal-content:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4); /* hover 시 그림자 효과 강화 */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #000; /* 닫기 버튼 텍스트 색상을 블랙으로 지정 */
    font-size: 15px; /* 아이콘 크기 */
    border: none;
    background-color: white;
    text-decoration: underline;
}

.close-button:hover {
    color: #FF0000; /* 마우스 오버 시 색상 변경 (예: 빨간색) */
}

.product-info {
    margin-top: 10px;
}

.product-info img {
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}

.product-info label {
    font-weight: bold;
}

.product-buttons button {
    background-color: #000; /* 블랙 배경색 */
    color: #fff; /* 텍스트 색상을 화이트로 지정 */
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* 판매하기 모달창 */
.sell-button {
	background-color: #000; /* 블랙 배경색 */
    color: #fff; /* 텍스트 색상을 화이트로 지정 */
    padding: 15px 20px;
     font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px; /* 버튼과 모달 정보 사이의 간격을 조정 */
    width: 100%; /* 버튼 너비를 100%로 설정하여 가로 전체를 채우게 함 */
}

p#noSell {
	text-align: center;
}

/* "확인" 버튼 스타일 */
.confirm-button {
    background-color: #000; /* 블랙 배경색 */
    color: #fff; /* 텍스트 색상을 화이트로 지정 */
    padding: 15px 20px;
     font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px; /* 버튼과 모달 정보 사이의 간격을 조정 */
    width: 100%; /* 버튼 너비를 100%로 설정하여 가로 전체를 채우게 함 */
}

.confirm-button:hover {
    background-color: #444; /* 마우스 오버 시 배경색 변경 (예: 조금 더 어두운 회색) */
}

