@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5; /* 연한 회색 배경색 */
	color: #333; /* 어두운 회색 계열 텍스트 색상 */
}

.container {
	max-width: 80%;
	margin: 200px auto; /* 여기서 상단 여백 조정 */
	padding: 20px;
	background-color: #fff; /* 흰색 배경색 */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow: hidden;
}



.form-group {
	margin-bottom: 20px;
}

.form-group2 {
	display: flex;
}

.form-group label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
/* 	color: #555; 어두운 회색 텍스트 색상 */
}

.form-group input{
	width: 300px;
	padding: 8px;
	border: 1px solid #ccc; /* 연한 회색 테두리 색상 */
	border-radius: 4px;
	box-sizing: border-box;
	background-color: #f9f9f9; /* 매우 연한 회색 배경색 */
	color: #333; /* 어두운 회색 텍스트 색상 */
	
}

.product-group {
	margin-bottom: 20px;
	display: flex;
	width: 300px;
}

.product-group img {
	width: 100px;
	cursor: pointer;
}


.product-detail {
	margin-bottom: 8px;
	font-weight: bold;
	cursor: pointer;
	line-height: 30px;
}

h2 {
	font-size: 24px;
	color: #222; /* 어두운 검정 계열 텍스트 색상 */
	margin-bottom: 20px;
	border-bottom: 2px solid #333; /* 어두운 회색 계열의 밑줄 추가 */
	padding-bottom: 5px;
}

.h3 {
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 20px;
	color: black;
}

.submit-button {
   display: block;
   width: 150px;
   padding: 10px;
   background-color: #222; /* 어두운 검정 계열 배경색 */
   color: #fff; /* 흰색 텍스트 색상 */
   text-align: center;
   text-decoration: none;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 버튼에 그림자 추가 */
}

.submit-button:hover {
   background-color: #333; /* 더 어두운 검정 계열로 호버 시 변경 */
}

